#app {
    max-width: 100%;
    height: 100vh;
    overflow: auto;
    gap: 0;
    & aside {
        background: var(--surface-secondary);
    }
    & .aside-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        & img {
            max-width: 19.5rem;
        }
        & > img {
            margin-bottom: .5rem;
            padding-top: 0.25rem;
        }
    }
}

main {
    overflow: auto;
    & .main-container {
        & .back {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 1rem;
            & span {
                margin-top: 0.5rem;
                font: var(--paragraph);
                color: var(--text-secondary);
            }
        }
        form {
            margin-top: 3rem;
        }
    }
}

@media (width >= 80em) {
    #app {
        grid-template-columns: 51.25% 48.75%;
        main {
            & .main-container {
                & .back {
                    margin-bottom: 1.5rem;
                }
            }
        }
        & aside {
            order: 2;
        }
        .aside-container {
            width: 39rem;
            align-items: initial;
            & img {
                max-width: 100%;
            }
            & img[src*="Logo"] {
                max-width: 12rem;
            }
            & header {
                width: 100%;
                h2 {
                    margin-block: 0.5rem;
                    font: 600 2.5rem/1.25 var(--font);
            
                    span {
                        color: var(--text-highlight);
                    }
                }
                p {
                    font: 400 1rem/120% var(--font);
                    color: var(--text-secondary);
                }
            }
        }
    }
}